@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: #ffffff;
  /* padding-inline: 6rem; */
  padding-inline: 8rem;
  height: 100vh;
}

.titles {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.descriptions {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.accent-color {
  color: #00ffff;
}

.answer-button-color:hover {
  background: linear-gradient(180deg, #ca0191 0%, #8a007a 80%);
}

/* HEADER  */

header {
  padding-block: 3rem;
  /* margin-bottom: 5rem; */
  display: inline-block;
}

header div {
  display: flex;
  flex-direction: column;
  float: right;
  height: 7rem;
  width: 7rem;
  /* border: 11px solid #ffffff43; */
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}

header p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 7px;
  color: #d8d9db;
  margin-block: 0.1rem;
}

header img {
  width: 11rem;
}

#seconds {
  font-size: 40px;
}

/* TIMER */

/* .timer {
  position: absolute;
  top: 2rem;
  right: 8rem;
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.4);
}

svg.progress-ring {
  transform: rotate(-90deg);
  width: 150px;
  height: 150px;
}

.progress-ring__circle-bg,
.progress-ring__circle {
  fill: transparent;
  stroke-width: 15px;
}

.progress-ring__circle-bg {
  stroke: #ffffff33; /* cerchio fisso azzurro */
/* }

.progress-ring__circle {
  stroke: #00ffff;
}

.timer-text {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  font-family: "Outfit", sans-serif;
  color: #d8d9db;
}

.timer-text .label {
  font-size: 0.5rem;
}

.timer-text .value {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
} */

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 68%;
}

.h1 {
  margin-top: 3rem;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; */
  /* top: 10rem;
  width: 80%;
  height: 224px; */
}

h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size: 3em; */
  font-size: 60px;
  line-height: 3.5rem;
  /* padding-inline: 3rem; */
}

h1 span {
  font-weight: 700;
}

section {
  /* margin-bottom: 8rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
  height: 17rem;
  width: 61rem;
  /* position: fixed;
  top: 30rem;
  width: 60%;
  right: 21rem; */
  /* padding-inline: 1rem; */
}

section button {
  /* display: inline-block; */
  background-color: #ffffff1f;
  /* width: 22rem; */
  width: 25rem;
  /* padding-block: 1.6rem; */
  padding-block: 2rem;
  /* border-radius: 2rem; */
  border-radius: 3rem;
  box-shadow: inset 1.5px 1.5px 2px 2px white;
  border: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-size: 16px; */
  font-size: 20px;
  color: white;
}

/* section button:nth-of-type(odd) {
  margin-right: 2rem;
}

section button:nth-of-type(1),
section button:nth-of-type(2) {
  margin-bottom: 1.5rem;
} */

.answer-button-color:hover {
  background: linear-gradient(180deg, #ca0191 0%, #8a007a 80%);
}

.easy-button-color:hover {
  background: linear-gradient(180deg, #00ffff 0%, #039b9b 80%);
}

.hard-button-color:hover {
  /* background: linear-gradient(180deg, #ff0000 0%, #880202 80%); */
}

/* FOOTER */

footer {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14.5px;
  /* padding-bottom: 6.5rem; */
  /* padding-top: 2rem; */
  text-align: center;
}

.conteggioDomande,
.totaleDomande {
  display: inline-block;
}
.totaleDomande {
  color: #d20094;
}

@keyframes reveal {
  0% {
    stroke-dashoffset: 377;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-timer {
  animation: reveal 10s linear;
}

footer p {
  display: inline-block;
}

footer a {
  display: inline-block;
  /* padding-block: 1rem; */
  padding-block: 1.5rem;
  /* padding-inline: 3.5rem; */
  padding-inline: 5rem;
  /* font-size: 20px; */
  font-size: 25px;
  font-weight: 700;
  background-color: #00ffff;
  border: #00ffff;
  box-shadow: 0px 0px 30px 0px #00ffff;
  color: #0b113b;
  text-decoration: none;
}
